.history-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.history-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.history-records {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.record-container {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  height: 200px;
}

.history-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history-card .info {
  font-size: 1em;
  color: #555;
}

.history-card .label {
  font-weight: bold;
  color: #333;
}

.delete-card{
  height: 40px;
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  background-color: black;
  color: white;
  transition-duration: 0.25s;
}

.delete-card:hover{
  background-color: rgb(54, 54, 54);
  height: 42px;
  width: 102px;
}

@media (max-width: 768px) {
  .history-container {
      padding: 10px;
  }

  .record-container {
      padding: 15px;
  }

  .history-title {
      font-size: 1.5em;
  }
}
